        <h3>Enter Task Number to Delete:</h3>

        <form name="delTask" method="POST" action="/del">
            <input type="text" name="slno">
            <input type="Submit" value = "Delete Task">
        </form>

        <div style="text-align:left">
            <br/><br/><br/>
            <a href="/">Go Back</a>
        </div>