
<h3 align="center">Tasks to do are listed below:</h3>
<style>
table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
}
</style>
<table style="width:50%" align="center">
        <tr>
                <th width="10%">SLNo:</th>
                <th width="60%">Task</th>
        </tr>
</table>
<div style="text-align:center">
        <br/><br/><br/><br/><br/>
       <a href="/new">Add New Task</a>
</div>