<h3 align="center">Tasks to do are listed below:</h3>
<style>
table, th, td {
        width: 50%;
        border: 1px solid black;
        border-collapse: collapse;
}
</style>
<table>

 <tr>

  <th:slno/>

  <th:task/>

 </tr>

 <tr>

  <td>101</td>

  <td>Take a Nap                                        </td>

 </tr>

</table>

<div style="text-align:center">
        <br/><br/><br/><br/><br/>
        <a href="/new">Add New Task</a>
</div>
<div style="text-align:center">
        <br/>
        <a href="/del">Delete a Task</a>
</div>
