        <h3>Fill Out this Form</h3>

        <form name="addTask" action="/new" method="POST" action="validate.js">
            SLNo:
            <input type="text" name="num">
            <input type="text" name="date">
            <input type="text" name="task">
            <input type="Submit" align="center" value="Add Task">
        </form>