        <h3>Add your task here:</h3>

        <form name="addTask" method="POST" action="/new">
            <input type="text" name="slno">
            <input type="text" name="task">
            <input type="Submit" value = "Add Task">
        </form>

        <div style="text-align:left">
            <br/><br/><br/>
            <a href="/">Go Back</a>
        </div>